__pycache__
.vscode
experiments
logs
.idea
*.png
*.cfl
*.hdr
*egg-info*
recon-workspace.code-workspace
datasets/
logs/
add_all_headers.py
add_header.py
*fair_cluster*
dataset_cache.pkl
.mypy_cache/
lightning_logs/
*.pt
build/
dist/
fastmri/_version.py
data/
fastmri_examples/unet/reconstructions/
knee_singlecoil_train.tar.xz
fastmri_raw_data_manifest/v2.0/
fastmri_examples/unet/unet_demo/checkpoints
knee_data
subsample_data_test.tar.gz
subsample_data_val.tar.gz
fastmri_examples/unet/nohup.out
fastmri_examples/unet/unet_logging/
subsample_data/
fastmri_dirs.yaml
fastmri_examples/unet/wandb/
multicoil_val/
multicoil_train/
brain_data/